<div id="<%= dom_id desk %>">

  <p>
    <strong>ID :</strong>
    <%= desk.id %>
  </p>
  
  <p>
    <strong>Start time:</strong>
    <%= desk.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= desk.end_time %>
  </p>

  <p>
    <strong>Place:</strong>
    <%= desk.place %>
  </p>

</div>
